* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url('https://c.wallhere.com/photos/ec/d9/trees_top_view_light-1179741.jpg!d') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.payment-box {
  background: white;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  position: relative;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 15px;
}

.dots span {
  width: 6px;
  height: 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.payment-box h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.payment-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #eee;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  color: #bbb;
}
.payment-option.selected span {
  font-weight: bold;
  color: black;
}
.payment-option:hover {
  background-color: #f0f4ff;
}

.payment-option img {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

.payment-option span {
  display: flex;
  align-items: center;
  
}

.payment-option.selected::after {
  content: '✔';
  font-size: 18px;
  color: #2d82fb;
  position: absolute;
  right: 10px;
}

.next-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 0;
  width: 100%;
  background-color: #2d82fb;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #1a5db6;
}
